/* Nav Styles */
 /* bootstrap overrides */
 #navbar {
	background: #000;
	display: none;
}

.navbar {
	display: none;
	background-image: linear-gradient(to bottom, rgb(0, 0, 0) 64%, rgb(44, 43, 48) 36%);
}

.navbar-secondary {
    display: block;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0) 64%, rgb(44, 43, 48) 36%);
}

.navbar-brand {
	width: 45px;
	text-indent: -3000px;
	background: rgb(119, 101, 161) url("../img/logo-Icon.png") no-repeat scroll 0% 0%;
}

.navbar-nav {
	margin-left: 20px;	
}

.navbar-nav > li {
	margin: 0 10px 0 0;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 6px;
    color: #fff !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #FFA500;
}

#galleryMod .modal-dialog {
    width: 100%;
    margin: 30px auto;
}

#galleryMod .modal-body #links a {
    display: inline-block;
    margin: 5px;
}

.biz-summary h1 .label {
	font-size: small;
}
 /* end bootstrap overrides */
 .navbar .container {
	position: relative;
}

.topHeader {
	position: relative;
	margin: 0px auto;
	padding: 0px 0px 5px;
	background: #54349E none no-repeat scroll 0% 0%;
	text-align: center;
	border-bottom: 5px #000 solid;
	z-index: 1;
}

.topHeader::before {
    content: "";
	opacity: 0.4;
	top: -195px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	position: absolute;
	z-index: -1;
	background: transparent url("../img/Cloud1.png") no-repeat scroll center 0% / cover;
}

.topHeader .well {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: 4px solid #7E7D7D;
	background: rgba(255, 255, 255, 0.74);
}

.topBanner {
    width: auto;
    height: 77px;
    /*border-bottom: 20px solid #000;*/
    background: rgba(255, 255, 255, 0.43) none repeat scroll 0% 0% !important;
}

.topBanner img {
    margin: 0px auto;
    padding-top: 3px;
    width: 85%;
}

.logo {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	z-index: 1;
}

.logo::after {
    position: absolute;
    content: "";
    bottom: 14px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-bottom: 25px solid #000;
    z-index: -1;
}

.spotlite {
    height: 450px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    clear: both;
    display: block;
    width: 100%;
}

.account {
	position: absolute;
	top: 10px;
	right: 20px;
	background: #663FBE;
	border: none;
	padding: 7px;
	color: #ffffff;
	border-radius: 6px;
}

.account:hover {
	color: rgb(255, 165, 0);
	background: #8553f8;
}

.primary {
	height: 150px;
	padding: 10px 20px;
	border-bottom: 50px solid #000;
	background: #141313 none repeat scroll 0% 0%;
}

.primary ul {
	margin: 0 auto;
	padding: 0;
}

.primary ul li {
	margin: 0;
	padding: 10px;
	list-style: none;
}

.startSearch {
    background: rgb(255, 165, 0) none repeat scroll 0% 0%;
    color: rgb(84, 52, 158);
    border: 1px solid #000;
    padding: 1px 10px;
    border-radius: 7px;
}

.jumbotron h1 {
    display: block;
    color: #ffa500;
    font-size: xx-large;
    margin: 40px;
    clear: both;
}

#freeReg {
	margin: 2px;
	font-size: x-large;
	font-weight: bold;
	color: #543493;
	line-height: 81px;
	border: 6px solid #FFF;
	background: #FFA500 none repeat scroll 0% 0%;
}

.listing {
	margin-top: 0;
	text-shadow: 1px 1px 1px #FFF;
}

.topHeader p {
	text-shadow: 1px 1px 1px #FFF;	
}

.shop-type {
    margin: 20px;
}

.shop-type-top {
	color: #FCCA1B;
}
/* end nav styles */
/*  new primary color #54349E purple */
/* secondary color #FFA500 gold */

/* Body Styles */
 /* bootstrap overrides */
body {
	color: #000;
	font-family: 'Didact Gothic', sans-serif;
}

body.internl {
    color: #000;
    background: #f0f0f0 none repeat scroll 0% 0%;
    /*
    color: #000;
	background: #BCB6AB none repeat scroll 0% 0%;
	*/
}

body.internl a {
    color: #54349E;
    text-decoration: none;
}

.photoGallery .modal-body a {
	display: inline-block;
	color: #54349E;
	text-decoration: none;
	margin: 4px;
}

body.internl a.rvwHlpfl {
	color: #fff;
}

body.internl a.rvwHlpfl:hover {
	color: #FFA500;
}

.btn-primary {
    color: #FFF;
    border: none;
    line-height: 25px;
    background-color: #54349E;
}

 .btn-primary:hover {
    background-color: #6740c0;
}

body.internl > .container {
    /*background: #9083B1 none repeat scroll 0% 0%;*/
	background: white none repeat scroll 0% 0%;
	padding: 0px 15px;
}

.price-rating {
    text-align: left;
    float: left;
}

/* end bootstrap overrides */

.biz-summary {
	margin-top: 80px;
}

.top-pr {
	margin-top: 0px;
	text-shadow: 1px 1px 1px #3c3c3c;
	color: rgb(255, 255, 255);	
}

.ads {
    margin-bottom: 20px;
    display: block;
    height: auto;
    min-height: 500px;
    padding: 20px 0;
    border-top: 20px solid #000;
    background: #4D4D4D none repeat scroll 0% 0%;
}


/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.rating {
    width: 169px;
	margin: 0;
	padding: 0;
    float:left;
    white-space: nowrap;
}

price-rating {
    width: 100px;
	margin: 0;
	padding: 0;
    float:left;
    white-space: nowrap;
}

.usrRatings h6 {
	margin-top: 0;
}

.usrRatings .rating {
    margin: 0px;
    padding: 0px;
    float: left;
    white-space: nowrap;
    width: 60px;
}

.usrRatings .price-rating {
    margin: 0px;
    padding: 0px;
    float: left;
    white-space: nowrap;
    width: 40px;
}

.usrRatings .rating:not(:checked) > label {
    float: right;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    color: #DDD;
    line-height: 1.5em;
    padding: 0px 0.1em;
    font-size: 10px;
    width: 12px;
}

.usrRatings .price-rating:not(:checked) > label {
    float: right;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    color: #dededf;
    line-height: 1.5em;
    padding: 0px 0.1em;
    font-size: 10px;
    width: 10px;
}

.usrIcon, 
.usrRatings,
.usrRvwDte {
	display: inline-block;
	margin-right: 20px;
	vertical-align: top;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.price-rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float: right;
	padding: 0px 0.1em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 200%;
	color: #DDD;
	width: 1.2em;
	line-height: 1.5em;
}

.price-rating:not(:checked) > label {
    float: right;
	padding: 0px 0.1em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 100%;
	color: #DDD;
	width: 10px;
	line-height: 1.5em;
	background-color: #808080;
}
.rating:not(:checked) > label:before {
    content: '★ ';
}

.price-rating:not(:checked) > label:before {
    content: '$ ';
}

.rating > input:checked ~ label {
    color: #000;
    text-shadow:1px 1px #ccc, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #ffa500;
	text-shadow: 1px 1px #B3A4A4, 1px 1px rgba(0, 0, 0, 0.11), 0.1em 0.1em 0.2em rgba(0, 0, 0, 0);}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 1px 1px #000, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

.price-rating > input:checked ~ label {
    color: #000;
    text-shadow:1px 1px #ccc, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.price-rating:not(:checked) > label:hover,
.price-rating:not(:checked) > label:hover ~ label {
    color: #ffa500;
	text-shadow: 1px 1px #B3A4A4, 1px 1px rgba(0, 0, 0, 0.11), 0.1em 0.1em 0.2em rgba(0, 0, 0, 0);}

.price-rating > input:checked + label:hover,
.price-rating > input:checked + label:hover ~ label,
.price-rating > input:checked ~ label:hover,
.price-rating > input:checked ~ label:hover ~ label,
.price-rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 1px 1px #000, .1em .1em .2em rgba(0,0,0,.5);
}

.price-rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

.catNum {
    font-size: x-small;
    line-height: 50px;
    float: right;
    color: #000;
}

.review {
	margin: 20px 0;
	border-bottom: #ddd solid 1px;
}

.revNum {
	line-height: 50px;
	cursor: pointer;
}

.rvwHlpfl {
	width: 70px;
	height: auto;
	font-size: 12px;
	text-transform: capitalize;
	color: #FFF;
	background: #6740C0 none repeat scroll 0% 0%;
	padding: 5px;
}

.rvwHlpfl:hover {
	color: #ffa500;
}

.rvwBttn {
	font-size: medium;
	font-weight: bold;
	color: #543493;
	line-height: 20px;
	border: 5px solid #54349E;
	background: #FFA500 none repeat scroll 0% 0%;
	width: 100%;
}

.socialMediaTyein {
	display: block;
	clear: both;
}

.bizTags {
	display: block;
	clear: both;
	border-bottom: 1px solid #000;
}

.gallery {
	margin-bottom: 5px;
	background: #fff;	
}

.biz {
	padding-right: 0px;
}

.bizDetl {
    margin: 10px 0;
    padding: 5px;
    min-height: 200px;
    border: 3px solid rgba(0, 0, 0, 0.52);
    background: #f0f0f0 none repeat scroll 0% 0%;
}

.bizDetl h1 {
	margin: 0;
}

.bizDetl blockquote {
	font-size: small;
}

.bizDetl2 {
    margin-top: 10px;
    padding: 0px;
    min-height: 100px;
    background: none;
}

.bizDetl2 .col-md-3.photoSlides,
.bizDetl2 .col-md-4.photoSlides {
    display: block;
	text-align: center;
	padding: 10px;
	background: #CCC none repeat scroll 0% 0%;
	min-height: 150px;
	min-width: 75px;
	width: 24%;
	margin-left: 1px;
}

.col-md-3.col-sm-3.col-xs-3.photoSlides:hover,
.col-md-4.col-sm-4.col-xs-4.photoSlides:hover {
    transform: scale(1.1,1.1);
    box-shadow: 1px 1px 4px 2px #727272;
    z-index: 1;
}

.bizDetl2 .photoSlides a {
	display: block;
	width: 100%;
	height: 100%;
}

.bizDetl2 .photoSlides .glyphicon {
    font-size: 40px;
    margin-top: 39px;
}

.bizDetl2 .photoSlides .captionBlock {
    position: absolute;
    bottom: 0;
    height: 25px;
    width: 100%;
    background: rgba(0, 0, 0, 0.52);
    left: 0;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    font-size: x-small;
}

.bixPic {
	display: block;
	min-height: 150px;	
	background: #ccc;
}

.bizPosts {
    background: #CCC none repeat scroll 0% 0%;
    border: 4px solid #616161;
}

.tab-pane .bizPosts {
    background: #CCC none repeat scroll 0% 0%;
    border: none;
}

.tab-pane .bizPosts .bizPost .usrRatings,
.tab-pane .bizPosts .bizPost .usrRvwDte {
	display: block;
	padding: 5px;
}

.bizPosts img {
	margin-top: 10px;
    border: 1px solid #616161;
}

.bizPosts .bizPost {
    background: #f0f0f0 none repeat scroll 0% 0%;
    border-bottom: 2px solid #616161;
}

.socialIcons {
    margin: 10px 10px 10px 0;
    text-decoration: none;
}

.bizReviews {
	display: block;
	margin: 10px 0 0;
	clear: both;
}

.bizMap {
    display: block;
    margin: 0;
    padding: 5px;
    height: 100%;
    min-height: 300px;
    border: 1px solid #FFF;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.52);
}

.bizMap #gmap_canvas {
	display: block;
	height: 100%;
	min-height: 300px;
}

.bizMap a#get-map-data {
	color: #fff;
}

.adSpace {
	display: block;
	margin: 10px 0;
	padding: 10px;
	text-align: center;
	font-size: large;
	font-weight: bold;
	background: #ccc;
}

.simReview {
    font-size: small;
}

.footer h3 {
	float: none;
	margin-top: 10px;
}

.footerContent {
    margin: 20px 0 0;
}

.row.alternate {
	background: #CCC none repeat scroll 0% 0%;
	height: 225px;
}


.adScroller {
	float: left;	
	padding-left: 15px;
}

.bottom {
	margin-bottom: 400px;
}

.carousel-control { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}

.bizListing {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}
.bizListing span {
    position: absolute;
    background: rgba(0, 0, 0, 0.73) none repeat scroll 0% 0%;
    display: block;
    z-index: 1;
    width: 250px;
    line-height: 29px;
    bottom: 0px;
    color: #FCCA1B;
    font-weight: bold;
    padding: 0 10px;
}

.clear {
	clear: both;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: #fff;
    min-height: 400px;
    height: auto;
    margin: 20px 0px 0px;
    padding: 45px 0;
    background: #000 no-repeat scroll center center;
}

.footerListings {
    width: 100%;
    color: #fff;
    min-height: 100px;
    height: auto;
    margin: 0px 0px 0px;
    padding: 25px 0;
    background: #000 no-repeat scroll center center;
}
.footerSplash {
    width: 100%;
    color: #fff;
    min-height: 400px;
    height: auto;
    margin: 0;
    padding: 0;
    background: #000 no-repeat scroll center center;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #FFF;
    cursor: default;
    background-color: #54349E;
    border-color: #54349E;
}

#social {	
    position: fixed;
	top: 30%;
	left: 0px;
	display: block;
	background: #54349E none repeat scroll 0% 0%;
	height: 110px;
	width: 25px;
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	z-index: 2000;
}

#social a {
    color: #FFF;
    font-family: arial,sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;  
}

#social a span {
    height: 25px;
	display: block;
	transform: rotate(0deg);
	transform-origin: 6px 7px 0px;
	position: relative;
	left: 12px;
	top: 13px;
}

#social a span img {
   height: 15px;
	display: block;
	transform: rotate(0);
	transform-origin: 6px 7px 0px;
	position: relative;
	left: -10px;
	top: 0px;
}

.sectionHeader {
    background: #54349E;
    color: #FFA500;
    padding: 5px;
    font-size: medium;
}

.fileUpload {
	background: inherit;
	border: none;
	outline: none;
	box-shadow: none;
}

.actionBtn {
	font-size: medium;
	font-weight: bold;
	color: #543493;
	line-height: 20px;
	border: 5px solid #54349E;
	background: #FFA500 none repeat scroll 0% 0%;
	width: 100%;
}

.loginBlock {
    display: none;
    visibility: none;
}

.bizBanner.row.col-md-12.col-sm-12.col-xs-12 {
    background: #727272 url(../img/blackbiz.jpg) 1px 1px;
    text-shadow: 1px 1px 1px #fff;
}

.bizBanner .label {
	text-shadow: none;
}

.bizLogo {
    box-shadow: 1px 1px 5px #000;
    padding: 5px;
    margin: 5px 10px;
}

/* begin media queries */
/* media queries */
@media screen and (min-width: 390px) {
	.topBanner {
	    width: auto;
	    height: 89px;
	    background: rgba(255, 255, 255, 0.43) none repeat scroll 0% 0% !important;
	}
	
	.logo::after {
	    position: absolute;
	    content: "";
	    bottom: 13px;
	    left: 0px;
	    width: 100%;
	    height: 100%;
	    border-bottom: 30px solid #000;
	    z-index: -1;
	}
	.ads {
	    margin-bottom: 20px;
	    display: block;
	    height: auto;
	    min-height: 950px;
	    padding: 20px 0;
	    border-top: 20px solid #000;
	    background: #4D4D4D none repeat scroll 0% 0%;
	}
}

@media screen and (min-width:425px) and (max-width:600px) {
	.topBanner {
	    width: auto;
	    height: 101px !important;
	    margin-bottom: 20px;
	    background: rgba(255, 255, 255, 0.43) none repeat scroll 0% 0% !important;
	}
}

@media screen and (min-width: 480px) {
	.logo::after {
	    position: absolute;
	    content: "";
	    bottom: 17px;
	    left: 0px;
	    width: 100%;
	    height: 100%;
	    border-bottom: 30px solid #000;
	    z-index: -1;
	}
}

@media screen and (max-width: 477px) {
	.mobileSearch {
	    position: relative;
	    left: 50px;
	    top: -33px;
	    display: inline;
	    margin: 10px;
	    float: left;
	}
}

@media screen and (min-width: 520px) {
	.logo::after {
	    position: absolute;
	    content: "";
	    bottom: 21px;
	    left: 0px;
	    width: 100%;
	    height: 100%;
	    border-bottom: 30px solid #000;
	    z-index: -1;
	}
	
	.ads {
		height: auto;
		min-height: 600px;
		padding: 20px 0;
		border-top: 20px solid #000;
		background: #4D4D4D none repeat scroll 0% 0%;
	}
}

@media screen and (min-width: 320px) and (max-width:519px) {
	.loginBlockSmall {
	    margin: -15px auto;
	    width: 100%;
	    background: #3c3c3c;
	}	
	.loginBlockSmall .form-horizontal .form-group {
	    margin-right: 0 !important;
	    margin-left: 0 !important;
	}
	
	.loginBlockSmall .login-msg {
	    text-shadow: 1px 1px 1px #3C3C3C;
	    color: #FFF;
	}
	
	.loginBlockSmall .form-horizontal {
	    width: 80%;
	    margin: 5px auto;
	}
}

@media screen and (min-width: 520px) and (max-width: 638px) {
	.logo::after {
	    position: absolute;
	    content: "";
	    bottom: 30px;
	    left: 0px;
	    width: 100%;
	    height: 100%;
	    border-bottom: 50px solid #000;
	    z-index: -1;
	}	
	
	.ads {
		height: auto;
		min-height: 1100px;
		padding: 20px 0;
		border-top: 20px solid #000;
		background: #4D4D4D none repeat scroll 0% 0%;
	}
}

@media screen and (min-width: 639px) and (max-width: 766px) {
	.logo::after {
	    position: absolute;
	    content: "";
	    bottom: 30px;
	    left: 0px;
	    width: 100%;
	    height: 100%;
	    border-bottom: 50px solid #000;
	    z-index: -1;
	}	
	
	.ads {
		height: auto;
		min-height: 1190px;
		padding: 20px 0;
		border-top: 20px solid #000;
		background: #4D4D4D none repeat scroll 0% 0%;
	}
}

@media screen and (min-width:542px) {
	.logo::after {
	    position: absolute;
	    content: "";
	    bottom: 21px;
	    left: 0px;
	    width: 100%;
	    height: 100%;
	    border-bottom: 40px solid #000;
	    z-index: -1;
	}
}

@media screen and (max-width:562px) {
	.bixPic {
	    display: block;
	    width: 100%;
	    min-height: 50px;
	    background: #CCC none repeat scroll 0% 0%;
	}
}


@media screen and (min-width:401px) and (max-width: 766px) {
	.col-md-3 {
	    width: 50% !important;
	    padding: 5px 36px 10px;
	}
	
	.col-md-3.bizMap {
	    width: 100% !important;
	    padding: 5px;
	}
	
	.col-md-3.photoSlides {
	    padding: 5px 36px 10px;
	    width: 49% !important;
	}
	.carousel-inner {
	    position: relative;
	    width: 100%;
	    overflow: hidden;
	    height: 230px;
	}
	
	blockquote.col-md-3.col-xs-12 {
		width:100% !important;
	}
	
	.bizDetl .row .bizLogo.col-sm-12 {
	    width: 100% !important;
	}
}


@media screen and (min-width:601px) and (max-width: 766px) {
	.topBanner {
	    width: auto;
	    min-height: 170px;
	    background: rgba(255, 255, 255, 0.43) none repeat scroll 0% 0% !important;
	}
	
	.logo::after {
	    position: absolute;
	    content: "";
	    bottom: 43px;
	    left: 0px;
	    width: 100%;
	    height: 100%;
	    border-bottom: 35px solid rgb(0, 0, 0);
	    z-index: -1;
	}
}

@media screen and (min-width:640px) {
	.logo::after {
	    position: absolute;
	    content: "";
	    bottom: 30px;
	    left: 0px;
	    width: 100%;
	    height: 100%;
	    border-bottom: 40px solid #000;
	    z-index: -1;
	}
}

@media (max-width: 767px) {
	.carousel-inner .active.left { left: -100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev		 { left: -100%; }
	/*.active > div { display:none; }*/
	.active > div:first-child { display:block; }
	.sign-up {
		display: inline;
	}
	
	.show-menu {
		display: inline;
		float: right;
	}
	
	.account {
		display: none;
	}
	
	.dtSearch {
		display: none;
	}
	
	.jumbotron h1 {
	    color: #FFA500;
	    font-size: xx-large;
	    margin: 143px 40px 15px;
	}
}

@media screen and (min-width: 478px) and (max-width: 767px) {
	.mobileSearch {
		position: relative;
	    left: 0px;
	    top: 0px;
	    display: inline;
		margin: 10px;
		float: left;
	}
}


@media screen and (min-width:768px) {
	 #navbar {
		background: #000;
		display: inline;
	}
	.sign-up {
		display: none;
	}
	
	.show-menu {
		display: none;
	}
	
	.mobileSearch {
		display: none;
	}
	
	.dtSearch {
		display: inline;
	}
}


@media (min-width: 767px) and (max-width: 992px ) {
	.carousel-inner .active.left { left: -50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		 { left: -50%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; }
	.topHeader {
		position: relative;
		margin: 0px auto;
		padding: 0px 0px 5px;
		background: #54349E none no-repeat scroll 0% 0%;
		text-align: center;
		border-bottom: 20px #000 solid;
		z-index: 1;
	}
	
	.topBanner {
	    width: auto;
		height: 191px;
		border-bottom: 40px solid #000;
		background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.43) !important;
	}
	
	.topBanner img {
	    display: block;
	    width: auto;
	    margin: 0 auto;
	    padding-top: 12px;
	}
	
	.primary {
	    height: auto;
	    padding: 0px 10px;
	    border-bottom: 10px solid #000;
	    background: #141313 none repeat scroll 0% 0%;
	}
	
	.ads {
	    height: auto;
	    min-height: 1100px;
	    padding: 20px 0px;
	    border-top: 20px solid #000;
	    background: #4D4D4D none repeat scroll 0% 0%;
	}

	.footer h3 {
		float: right;
		margin-top: -28px;
		font-size: large;
	}
	
	.biz-summary h1,
	.biz-summary p {
		width: 90%;
	}
}

@media (max-width:991px) {
	.adScroller {
	    float: none;
	    padding-left: 15px;
	}
}

@media (min-width: 992px ) {
	.carousel-inner .active.left { left: -16.7%; }
	.carousel-inner .next        { left:  16.7%; }
	.carousel-inner .prev		 { left: -16.7%; }	
	.topHeader {
		position: relative;
		margin: 0px auto;
		padding: 0px 0px 5px;
		background: #54349E none no-repeat scroll 0% 0%;
		text-align: center;
		border-bottom: 20px #000 solid;
		z-index: 1;
	}

	.topBanner {
	    width: auto;
		height: 191px;
		border-bottom: 40px solid #000;
		background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.43) !important;
	}
	
	.topBanner img {
	    display: block;
	    width: auto;
	    margin: 0 auto;
	    padding-top: 12px;
	}
	
	.primary {
		height: 100px;
		padding: 10px 20px;
		border-bottom: 20px solid #000;
		background: #141313 none repeat scroll 0% 0%;
	}
	
	.footer h3 {
		float: right;
		margin-top: -28px;
	}
}

@media screen and (min-width: 955px) {
	.loginBlock {
	    position: absolute;
	    display: block;
	    top: 20px;
	    right: 0px;
	    width: 9% !important;
		padding: 5px;
		margin: -10px 5px 0 0 !important;
	    z-index: 9999999;
	}
	
	.loginBlock .form-group {
		margin-bottom: 5px;	
}

	.loginBlockSmall {
	    display: none;
	    visibility: none;
	}
}

@media screen and (min-width:520px) and (max-width: 954px) {
	.loginBlock {
	    display: none;
	    visibility: none;
	}
	
	.loginBlockSmall {
	    margin: -29px auto;
	    width: 100%;
	    background: #3c3c3c;
	}
	.loginBlockSmall .form-horizontal .form-group {
	    margin-right: 0 !important;
	    margin-left: 0 !important;
	}
	
	.loginBlockSmall .login-msg {
	    text-shadow: 1px 1px 1px #3C3C3C;
	    color: #FFF;
	}
	
	.loginBlockSmall .form-horizontal {
	    width: 80%;
	    margin: 5px auto;
	}
}

@media screen and (max-width:1199px) and (min-width: 768px){
	
}


